<div t:type="layout" title="weareapp Index"
	xmlns:t="http://tapestry.apache.org/schema/tapestry_5_4.xsd">

	<div class="container" style="margin-bottom: 5px;">
		<div class="row">
			<div class="span12">
				<h1>Admin</h1>
			</div>
		</div>
	</div>
</div>